<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="{% url 'post_list' %}" class="nav-link">post_list</a></li>
      <li class="nav-item"><a href="{% url 'video_list' %}" class="nav-link">video_list</a></li>
      <li class="nav-item"><a href="{% url 'video_create' %}" class="nav-link">video_create</a></li>
      <li class="nav-item"><a href="{% url 'mysite' %}" class="nav-link">mysite</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>